body {
  font-family: 'Lato', sans-serif; 
  background-color: #F2E9EB;
  color: #31383F; 
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #DD8EA4;
  padding: 20px; 
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px; 
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }
}

.contact-section {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #F4F4F4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-section h1 {
  color: #DD8EA4;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  margin-bottom: 20px;
}

.contact-section p {
  color: #31383F;
  margin-bottom: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.contact-form label {
  text-align: left;
  color: #31383F;
  font-size: 16px;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  color: #31383F;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  background-color: #FEDD89;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.contact-form button:hover {
  background-color: #e6c779;
}

@media (max-width: 600px) {
  .contact-section {
    width: 90%;
  }
}
