body {
  font-family: 'Lato', sans-serif; 
  background-color: #F2E9EB;
  color: #31383F; 
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #DD8EA4;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px; 
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh;
  padding: 20px;
}

.portfolio h1 {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  color: #DD8EA4;
}

.portfolio p {
  font-size: 16px;
}

.job {
  background-color: #f4f4f4;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-details {
  text-align: left;
}

.job img {
  width: 100px;
  height: auto;
  margin-left: 20px;
  flex-shrink: 0;
  border-radius: 0; 
}

.button {
  background-color: #FEDD89;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: #e6c779; 
}

